html,
body,
#app,
.container[data-path^='/calendar'] {
  margin: 0;
  width: 100%;
  max-width: 100% !important;
  position: relative;
}

.modal {
  z-index: 500;
}

#calendar-create {
  .field-label label.label {
    height: 100%;
    padding-top: 8px;
  }

  #color-input-wrapper {
    width: 40px;
    display: inline-block;
  }

  input#color {
    visibility: hidden;
    width: 40px;
  }
}

#create-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 300;
}

.Kalend__Event-normal-dark {
  min-height: 20px !important;
}

#CalendarModal {
  textarea,
  input[type] {
    border-color: white;
  }
}
