@import './variables.scss';

h1 {
  margin: 0;
  padding: 0;
  font-size: 5000px;
}

#app {
  padding-top: 56px;
}

nav {
  .navbar-brand {
    h1 {
      color: $white;
      font-size: 25px;
      font-weight: bold;
      padding-left: 10px;
    }
    img {
      height: 50px;
    }
  }
}
h1 {
  color: $light-blue;
  text-align: center;
  font-size: 200%;
}
h2 {
  color: $light-blue;
  text-align: center;
  font-size: 300% !important;
  font-weight: bold;
}
p {
  color: $light-blue;
  text-align: center;
  font-size: 200%;
}
.button-thing {
  text-align: center;
  display: block;
}
.button.is-big {
  font-size: 25px;
  background-color: $blue;
}

html,
body,
#app,
#app > .container:not([class*='is-loading']) {
  height: 100%;
  overflow-y: auto !important;
}

.divCenter {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@import 'node_modules/bulma-checkbox/bulma-checkbox';
@import 'bulma/bulma.sass';

.container.is-loading {
  @include loader;
}
